<div class="row">
  <div class="small-3 small-centered columns cta-area">
    <% if @user %>
      <%= "Hello #{@user.name}" %>
    <% else %>
      <%= link_to "Sign Up with Twitter", '/auth/twitter', class: "button expand cta" %>
    <% end %>
  </div>
  <div class="small-12 large-centered columns">
      <div class="small-6 columns left">
        <%= bootstrap_form_for @tweet do |f| %>
          <%= f.text_area :body, :placeholder => 'ZestyTweet lets you type as much as you
  want, and then intelligently breaks it up
  into multiple tweets. 

  You can tell a short story, or go on a rant.
  We’ll break it down for you, so you can 
  keep typing, and tweeting without 
  worrying if you’re going to go over the 
  amount of space Twitter gives you.', hide_label: true %>
          <%= f.submit "Submit" %>
        <% end %>
      </div>
      <div class="small-6 columns right">
        <div class="tweet-preview">
          <div id="tweet1">box</div>
          <div id="tweet2">box</div>
          <div id="tweet3">box</div>
        </div>
      </div>
  </div>
</div>