<div class="row">
  <div class="small-12">
    <%= render "layouts/messages" %>
  </div>  
  <div class="small-3 small-centered columns cta-area">
    <% if current_user %>
      <%= "signed in as #{current_user.name}" %>
    <% else %>
      <%= link_to "Sign Up with Twitter", '/auth/twitter', class: "button expand cta" %>
    <% end %>
  </div>
  <div class="small-12 large-centered columns">
      <div class="small-4 columns left">
        <%= form_for @tweet do |f| %>
          <%= f.text_area :body, rows: 8, :placeholder => 'ZestyTweet lets you type as much as you
  want, and then intelligently breaks it up
  into multiple tweets. 

  You can tell a short story, or go on a rant.
  We’ll break it down for you, so you can 
  keep typing, and tweeting without 
  worrying if you’re going to go over the 
  amount of space Twitter gives you.' %>
          <%= f.submit "Tweet it!", class: "button expand cta" %>
        <% end %>
      </div>
      <div class="small-4 columns">
        <div class="tweet-preview">
          <div class="panel radius"><h5>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend.</h5>
</div>
          <div class="panel radius"><h5>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend.</h5>
</div>
          <div class="panel radius"><h5>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend.</h5>
</div>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="timeline pannel">
          <h5> Your last 5 tweets</h3>
            <% if current_user %>
              <% @timeline_tweets.each do |tweet| %>
                <div class="panel"><%= tweet.text %></div>
              <% end %>
            <% end %>
        </div>
      </div>
  </div>
</div>